<div class="banner" style="background-image: url(<%= asset_path('list_background.jpg')%>);">
  <div class="container">
    <div class="cover mb-4 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h1>Save any kind of movies</h1>
        <h3 class="typed-js" data-controller="typed-js"></h3>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="mb-0">This is the list index</h1>
    <h2><%= link_to 'add new', new_list_path %></h2>
  </div>
  <div>
    <ul class="cards">
      <% @lists.each do |list| %>
        <div>
          <div class="card-category" style="background-image: url(<%= asset_path('list_background.jpg')%>)">
            <%= link_to list.name, list_path(list) %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
